<div class="container" style="background:red;height:70px">
  <div style="padding-top:15px">
  <nav>
    <button class="btn btn-info" routerLink="/welcome">Home</button>
    <button class="btn btn-info" routerLink="/list">List users</button>
    <button class="btn btn-info" routerLink="/create">Create user</button>
    <button class="btn btn-info" routerLink="/logout">Logout</button>
  </nav>
  </div>
</div>

<div class="container" style="background:yellow">
  <router-outlet></router-outlet>
</div>
