<div class="container" style="background:red;height:70px">
  <div style="padding-top:15px">
  <nav>
    <button class="btn btn-info" routerLink="/welcome">home</button>
    <button class="btn btn-info" routerLink="/list">list users</button>
    <button class="btn btn-info" routerLink="/create">create user</button>
    <button class="btn btn-info" routerLink="/logout">logout</button>
  </nav>
  </div>
</div>

<div class="container" style="background:yellow">
  <router-outlet></router-outlet>
</div>
